<!DOCTYPE html>
<html lang="en">
<head>
<%- include ("./partials/head") %>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main class="main-home">
        <div class="banner-ofertas">
            <div class="banner__img">
            <p class="banner__descripcion">Nuestras mejores ofertas!!</p>
            <button class="banner__boton">Entra y descubrí!!</button>
            </div>
        </div>
        <h4 class="main__titulo-cat">Categorias</h4>
        <section class="main__categorias">
            <a href="/products/productCategory/1"><div class="categorias__1"><p>Oficina</p></div></a>
            <a href="/products/productCategory/2"><div class="categorias__2"><p>Living</p></div></a>
            <a href="/products/productCategory/3"><div class="categorias__3"><p>Cocina</p></div></a>
            <a href="/products/productCategory/4"><div class="categorias__4"><p>Muebles TV</p></div></a>
            <a href="/products/productCategory/5"><div class="categorias__5"><p>Gaming</p></div></a>
            <a href="/products/productCategory/6"><div class="categorias__6"><p>Dormitorios</p></div></a>
        </section>
        <h4>Agregado recientemente</h4>
        <section class="main__ultimo-ingresado">
            <% const ultimoAgregado =productos[productos.length - 1]; %>
            <article class="ultimo-ingresado__articulo">
                <a href="/products/productDetail/<%=ultimoAgregado.id%>">
                <img src="/img/<%= ultimoAgregado.image %>" alt="articulo">
                <div class="ultimo-ingresado__precio">
                <p><%= ultimoAgregado.price %></p>
                <h5><%= ultimoAgregado.name %></h5>
                </div>
                </a>
            </article>
        </section>
        <h4>Últimos productos agregados</h4>
        <section class="main__ultimos-ingresos">
            <div class="ultimos-ingresos__contenedor">
                <% const ultimosAgregados = productos.slice(productos.length -4); %>
                <% ultimosAgregados.forEach((producto)=>{ %>
                <article class="ultimos-ingresos__articulo">
                <a href="/products/productDetail/<%=producto.id%>"><div class="ultimos-ingresos-img"><img src="/img/<%= producto.image %>" alt="articulo1"></div></a>
                <div class="ultimos-ingresos__precio">
                <p>$ <%= producto.price %></p>
                <h5><%= producto.name %></h5>
                </div>
            </article>
            <% }) %>
            </div>
            <div class="ultimos-ingresos__ver-mas">
                <a href=""><p>Ver mas</p ><p> > </p> </a>
            </div>
        </section>
        <h4>Lo mas vendido</h4>
        <section class="main__mas-vendido">
            <div class="mas-vendido__contenedor">
                <% const loMasVendido = productos.filter(producto=> producto.top_seller == 1 || producto.top_seller == "1") %>
                <% loMasVendido.forEach((producto)=>{ %>
                <article>
                    <a href="/products/productDetail/<%=producto.id%>">
                    <div class="mas-vendido__imagen">
                    <img src="/img/<%= producto.image %>" alt="articulo2">
                    </div>
                    </a>
                    <div class="mas-vendido__precio">
                    <p>$ <%= producto.price %></p>
                    <h5><%= producto.name %></h5>
                    </div>
                </article>
                <% }) %>
            </div>
                <div class="mas-vendido__ver-mas">
                    <a href=""><p>Ver mas</p ><p> > </p> </a>
                </div>
         </section>
         <h4>Algunas de nuestras ofertas</h4>
         <section class="main__ofertas">
            <% const algunasOfertas = productos.filter(producto=> producto.offer == 1 || producto.offer == "1" ); %>
            <% algunasOfertas.forEach((producto)=>{ %>
            <article>
                <a href="/products/productDetail/<%=producto.id%>">
                <div class="ofertas__imagen">
                <img src="/img/<%= producto.image %>" alt="articulo5">
                </div>
                </a>
                <div class="ofertas__precio">
                    <h5><%= producto.name %></h5>
                    <p class="precio__efectivo">$ <%= producto.price %></p><p class="precio__descuento">20% off</p>
                </div>
            </article>
            <% }) %>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>