<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
       
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="titulo-puntuacion__contenedor">
            <h2> <%= producto.name %></h2>
            </div>
        <section class="main__section">
            <article class="article__image">
              
                <div class="contenedor__img-producto">
                    <img src="/img/<%=producto.image %>" alt="imagen">
                </div>
            </article>
            <article class="article__info">
                
                <div class="contenedor-precio">
                    <div class="info-adicional__descripcion"><%= producto.description %></div>
                    <h3>$ <%= producto.price %></h3>
                    <p>En hasta 12 cuotas</p>
                </div>
                <div class="contenedor-botones">
                    <button type="button" class="boton-comprar">Boton de compra</button>
                    <button type="button" class="boton-carrito">Agregar al carrito</button>
                    <a href="" class="boton-favoritos">
                        <i class="fa-regular fa-heart"></i>
                        <p>Agregar a favoritos</p>
                    </a>
                    <!--                      boton de editar                       -->
                    
                    <div class="contenedor-botones-editar">
                            <a href="/products/productEdit/<%= producto.id %>">
                        <button type="button" class="boton-editar">Editar</button>
                        </a>
                    
                    <!--                    boton de eliminar                          -->
                        <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" >
                        <button type="submit" class="action-button delete">Eliminar</button>
                        </form>
                    </div>
            </article>
                

        
        </section>
        <section class="main__info-adicional">
            
            <h3>Infomación adicional</h3>
            <p class="info-adicional__info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora facilis blanditiis labore ducimus sunt quae. Nam, fugit. Quos voluptatem rerum quae cumque mollitia veritatis aperiam ipsa fuga aut ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla non voluptatem alias! Aut iure deleniti facere at excepturi. Ipsum dolor possimus nemo corrupti numquam facilis, sint quia saepe molestiae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam, cumque dolore, molestias doloribus, perferendis repellat eaque minima debitis earum accusamus neque ullam ipsam officiis soluta cupiditate optio non. Vero.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque voluptatum laboriosam sapiente nemo quidem perferendis tempora, quos nihil veniam labore reiciendis quaerat blanditiis rerum esse repellat magni nesciunt unde dolorum.
                Lorem ipsum dolor, sit amet consecta explicabo blanditiis quidem ut sed autem, vitae, aspernatur culpa cupiditate iure iste asperiores repudiandae ad, impedit esse saepe officia.
            </p>
            <h5 class="info-adicional__ver-mas">Ver mas </h5>
        </section>
        <section class="productos-relacionados">
            <h4>Productos relacionados</h4> 
            <div class="contenedor__producto-relacionado">
            <% productoRelacionado.forEach(product=>{ %>
                <% if (product.id != producto.id) { %>
                <article class="producto-relacionado">
                <div class="producto-relacionado__contenedor">
                <p><%= product.name %></p>  
                <p class="precio-relacionados"> $<%= product.price %> <b>-<%= product.discount %>%</b> </p>
                </div>
                <div class="contenedor__imagen-relacionados">
                    <img src="/img/<%= product.image %>" alt="imagen2"> 
                </div>
                </article>
                <%}%>
            <% }) %>
            </div>
            </section>
      
    </main>
    <%- include("./partials/footer") %>
</body>
</html>