<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/allProducts.css" />
  </head>
  <%- include ("./partials/header") %>
  <body>
    <section class="main__ofertas">
      <%if (productos.length==0){ %> 
        <h2 style="margin: 100px auto;">Producto no encontrado</h2>
      <% }else{ %>
        <%productos.forEach((product)=>{ %>
         <article> 
          <a href="/products/productDetail/<%= product.id %>">
          <div class="ofertas__imagen">
            <img src="/img/<%= product.image %>" alt="articulo5" />
          </div>
          </a>
          <div class="ofertas__precio">
            <h5> <%= product.name %></h5>
            <p class="precio__efectivo">$<%= product.price %></p>
            <p class="precio__descuento">% <%= product.discount %></p>
          </div>
          
        </article>
      <% }) %> 
        
        <%}%>
    </section>
    
  </ul>
  </body>
  <%- include("./partials/footer") %>
</html>
