<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productUpdate.css">
</head>
<body>
    <%- include("./partials/header") %>
<main>
    <form class="form__upDate" method="POST" enctype="multipart/form-data" action="/products/productCreate/">
        <h2>Alta de productos</h2>
        <p>
        <input class="form__nombre-producto" type="text" placeholder="Nombre del producto" name="productName" >
        <% if (locals.errors && errors.productName) { %>
            <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.productName.msg %></span>
            <% } %> 
        </label>
        </p>
        <p class="form__img">
        <label>Imagenes: </label>
        <input type="file" name="image" id="productImage" accept="image/*">
        <% if (locals.errors && errors.image) { %>
            <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.image.msg %></span>
            <% } %> 
        </label>
        </p>
        <p class="form_descripcion">
        <label  for="description">Descripción del producto:
            <% if (locals.errors && errors.description) { %>
                <span class="text-danger" style="color: #900; font-weight: 200; font-size: 17px;"><%= errors.description.msg %></span>
                <% } %> 
            </label>
        </label>
        <textarea id="descripcion" name="description" rows="7" cols="40"> </textarea>
        <p>
        <label class="form_categorias" for="selectUpdate">Ingrese la categoria:</label>
        <select  class="form__select-cat" name="category">
            <option value="0">      </option>
            <option value="1">Oficina</option>
            <option value="2">Living</option>
            <option value="3">Cocina</option>
            <option value="4">Muebles TV</option>
            <option value="5">Gaming</option>
            <option value="6">Dormitorios</option>
        </select>
        <% if (locals.errors && errors.category) { %>
            <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.category.msg %></span>
            <% } %> 
        </label>
        </p>
        <p>
        <label class="form_color" for="colorProducto">Color:</label>
        <select  class="form__color-producto" name="colors" >
            <option value="0">      </option>
            <option value="1">Negro</option>
            <option value="2">Blanco</option>
            <option value="3">Madera</option>
        </select>
        <% if (locals.errors && errors.colors) { %>
            <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.colors.msg %></span>
            <% } %> 
        </label>
        </p>
        <p>
        <input type="number" class="form__precio-producto" placeholder="Indique el precio en ars $" name="price" > 
        <% if (locals.errors && errors.price) { %>
            <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.price.msg %></span>
            <% } %> 
        </p>
        <div class="form__offer-contenedor">
            <p>
            <select   name="offer">
                <option value="
                " >  </option>
                <option value="1" >Si</option>
                <option value="0" >No</option>
            </p>
            <p>
                <input type="number" name="discount" placeholder="Indique el descuento "> 
            </p>
            </div>
        </p>
        <p class="form__buttom">
        <button type="submit" class="form__enviar">Guardar</button>
        <button type="reset" class="form__borrar">Borrar</button>
        </p>
    </form>

</main>
<%- include("./partials/footer") %>
<script src="/js/productAddValidation.js"></script>
</body>
</html>