<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
       
<body>
    <%- include("./partials/header") %>
    <main>
        <section>
            <div class="titulo-puntuacion__contenedor">
            <h2> <%= producto.productName %></h2>
            <a href="">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </a>
            </div>
            <div class="contenedor__img-producto">
                <img src="/img/<%=producto.image %>" alt="imagen">
            </div>
            <div class="contenedor-precio">
                <h3>$ <%= producto.price %></h3>
                <p>En hasta 12 cuotas</p>
            </div>
            <div class="contenedor-botones">
                <button type="button" class="boton-comprar">Boton de compra</button>
                <button type="button" class="boton-carrito">Agregar al carrito</button>
                <a href="" class="boton-favoritos">
                    <i class="fa-regular fa-heart"></i>
                    <p>Agregar a favoritos</p>
                </a>
                <!--                      boton de editar                       -->
                
                    <div class="contenedor-botones-editar">
                        <a href="/products/productEdit/<%= producto.id %>">
                    <button type="button" class="boton-editar">editar</button>
                    </a>
                </div>
                <!--                    boton de eliminar                          -->

              <div class="boton-eliminar">
                <form action="/product/delete/?_method=DELETE" method="POST" >
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
            </div>

            </div>
        </section>
        <section class="main__info-adicional">
            <h3>Infomación adicional</h3>
            <p class="info-adicional__info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas tempora facilis blanditiis labore ducimus sunt quae. Nam, fugit. Quos voluptatem rerum quae cumque mollitia veritatis aperiam ipsa fuga aut ipsam?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nulla non voluptatem alias! Aut iure deleniti facere at excepturi. Ipsum dolor possimus nemo corrupti numquam facilis, sint quia saepe molestiae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam, cumque dolore, molestias doloribus, perferendis repellat eaque minima debitis earum accusamus neque ullam ipsam officiis soluta cupiditate optio non. Vero.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque voluptatum laboriosam sapiente nemo quidem perferendis tempora, quos nihil veniam labore reiciendis quaerat blanditiis rerum esse repellat magni nesciunt unde dolorum.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. In at, maiores beatae deleniti fuga fugiat quibusdam sunt magni excepturi reiciendis. Quidem itaque tenetur fuga excepturi enim sint a animi alias.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi in voluptates, iure vel quos, enim perspiciatis odio consequatur quo assumenda, voluptatibus asperiores mollitia pariatur deserunt nemo voluptatum culpa temporibus optio?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ex accusamus nisi id impedit ea soluta voluptatum. Similique, deleniti explicabo! Facilis exercitationem eveniet praesentium iste illo eos maxime blanditiis expedita.   
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, sunt veniam natus molestias optio voluptates soluta possimus omnis laboriosam, incidunt facilis modi officia adipisci quo neque corporis quis quibusdam quisquam!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa autem perspiciatis esse incidunt ad suscipit vel officiis quos, ab culpa voluptate, delectus aperiam! Ullam, odio fuga dicta minus veniam laborum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolor impedit fugit? Tempore provident cumque, dolore quo, blanditiis perferendis voluptas ex beatae nulla obcaecati labore laudantium dolorum aliquid accusamusorem ipsu
                m dolor sit amet consectetur adipisicing elit. Iste eum, amet porro tempore, beatae voluptas rerum est suscipit, non maxime veritatis quia voluptates exercitationem cum quas doloribus incidunt impedit? Quaerat
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem consectetur veritatis quia optio dolor modi et, id consequatur in nesciunt nisi labore deserunt, qui, ut ipsam deleniti atque? Earum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident fugit, nobis maiores dolores nisi libero itaque quis nulla. Fugit eligendi nulla sint deserunt aperiam suscipit architecto magni id praesentium repudiandae.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem perspiciatis mollitia explicabo blanditiis quidem ut sed autem, vitae, aspernatur culpa cupiditate iure iste asperiores repudiandae ad, impedit esse saepe officia.
            </p>
            <h5 class="info-adicional__ver-mas">Ver mas </h5>
        </section>
        <section class="productos-relacionados">
            <h4>Productos relacionados</h4> 
            <article class="producto-relacionado">
                <p><%= productoRelacionado[productoRelacionado.length - 1].productName %></p>
                <div class="contenedor__imagen-relacionados">
                    <img src="/img/<%= productoRelacionado[productoRelacionado.length - 1].image %>" alt="imagen2"> <!-- solucionar -->
                </div>
            </article>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>