<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/productEdit.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <form class="form__upDate" action="/products/productEdit/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
            <h2>Edicion de productos</h2>
            <p>
            <% if (locals.errors && errors.name) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.name.msg %></span>
                <% } %> 
            <input class="form__nombre-producto" value="<%= productToEdit.name%>" type="text" placeholder="Nuevo nombre del producto" name="name" >
            </p>
            <p class="form__img">
            <label for="image">Imagenes: 
                <% if (locals.errors && errors.image) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.image.msg %></span>
                <% } %> 
            </label>
            <input type="file" name="image" accept="image/*">
            </p>
            <p class="form_descripcion">
            <label  for="description">Descripción del producto:
                <% if (locals.errors && errors.description) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.description.msg %></span>
                <% } %> 
            </label>
            <textarea id="descripcion" value="<%= productToEdit.description%>"  name="description" rows="7" cols="40"> </textarea>
            <p>
            <label class="form_categorias" for="selectUpdate">Ingrese la categoria:</label>
            <select  class="form__select-cat" name="category">
                <option value="0">       </option>
                <option value="1">Oficina</option>
                <option value="2">Living</option>
                <option value="3">Cocina</option>
                <option value="4">Muebles TV</option>
                <option value="5">Gaming</option>
                <option value="6">Dormitorios</option>
            </select>
            <% if (locals.errors && errors.category) { %>
                <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.category.msg %></span>
            <% } %> 
            <p>
                <label class="form_color" for="colorProducto">Color:</label>
                <select  class="form__color-producto" name="colors" >
                    <option value="0">     </option>
                    <option value="1">Negro</option>
                    <option value="2">Blanco</option>
                    <option value="3">Madera</option>
                </select>
                <% if (locals.errors && errors.colors) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.colors.msg %></span>
                <% } %> 
                </p>
            <p>
                <% if (locals.errors && errors.price) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.price.msg %></span>
                <% } %> 
            <input type="number" name="price" class="form__precio-producto" value="<%= productToEdit.price%>" placeholder="Indique el precio en ars $" > 
            </p>
            <div class="form__offer-contenedor">
            <select   name="offer">
                <option value="1" >Si</option>
                <option value="2" >No</option>
            </p>
            <p>
                <input type="number" name="discount" value="<%= productToEdit.discount%>" placeholder="Indique el descuento "> 
            </p>
            </div>
            <p class="form__buttom">
            <button type="submit" class="form__enviar">Confirmar</button>
            <button type="reset" class="form__borrar">Borrar</button>
            </p>
        </form>
    
    </main>
    <%- include("./partials/footer") %>
</body>
</html>