<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="section__profile">
            <div class="section_imgProfile">
            <div class="contenedor__imgProfile">
                <img src="/img/users/<%= user.imageProfile%>" alt="">
            </div>
            </div>
            
            <div class="section__nameProfile">
                <p><%=user.firstName%></p>
                
            </div>
        </section>
        <section class="section__dateProfile">
            <p>Mis datos: </p>
            <div class="contenedor__dateProfile">
            <ul> 
                    <li>Nombre:<br>   <i><%=user.firstName%></i></li>  
                    <li>Apellido:<br>   <i><%=user.lastName%></i> </li>
                    <li>E-mail:<br>   <i><%=user.email%></i> </li>
                    <li>Tipo de Usuario:<br>   <i><%=user.category%></i> </li>
            </ul>
            </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>