<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="section__profile">
            <div class="section_imgProfile">
            <div class="contenedor__imgProfile">
                <img src="/img/users/<%= user.imageProfile%>" alt="">
            </div>
            </div>
            <div class="section__dateProfile">
                <ul class="contenedor__dateProfile">
                    <li> <%=user.firstName%> </li>
                    <li> <%=user.lastName%> </li>
                    <li> <%=user.email%> </li>
                    <li> <%=user.category%> </li>
                </ul>
            </div>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>