<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="section__profile">
            <div class="section_imgProfile">
            <div class="contenedor__imgProfile">
                <img src="/img/users/<%= locals.User.imageProfile%>" alt="">
            </div>
            </div>
            
            <div class="section__nameProfile">
                <p><%=locals.User.firstName%></p>
                
            </div>
        </section>
        <section class="section__dateProfile">
            <p>Mis datos: </p>
            <div class="contenedor__dateProfile">
            <ul> 
                    <li>Nombre:<br>   <i><%=locals.User.firstName%></i></li>  
                    <li>Apellido:<br>   <i><%=locals.User.lastName%></i> </li>
                    <li>E-mail:<br>   <i><%=locals.User.email%></i> </li>
            </ul>
            </div>
        </section>
        <form class="cierre-sesion" action="/user/logOut" method="POST">
            <button type="submit">Cerrar sesion</button>
        </form>
    </main>
    <%- include("./partials/footer") %> 
</body>
</html>