<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="register-box">
            <h1>Crea una cuenta</h1>
            <a href="#">
                    <i class="fa-solid fa-id-card-clip"></i>
            </a>
            <div class="desc-cuenta">
                <!-- <h2>Disfruta de los beneficios de la cuenta.</h2> -->
               <!--  <ul>
                    <li>Ofertas especiales</li>
                    <li>Preventas exlusivas</li>
                    <li>Envíos sin costo</li>
                </ul> -->

                <ul class="ul__errores">

                </ul>
            </div>
            <form action="/user/register" method="POST" class="datos-cliente" enctype="multipart/form-data">
                
                <!-- Nombre (s) de cliente -->
                <label for="nombre"> Nombre (s) 
                    <% if (locals.errors && errors.nombre) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.nombre.msg %></span>
                    <% } %> 
                </label>
                <input name="nombre" type="text" placeholder=" Ingresa tu nombre (s) " >
                
                <!-- Apellidos del cliente -->
                <label for="apellido"> Apellidos 
                    <% if (locals.errors && errors.apellido) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.apellido.msg %></span>
                    <% } %> 
                </label>
                <input name="apellido" type="text" placeholder=" Ingresa tus apellidos " >
                
                <!-- -- foto de perfil -- -->
                <label for="imagenPerfil">Agrega una foto de perfil 
                    <% if (locals.errors && errors.imagenPerfil) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.imagenPerfil.msg %></span>
                    <% } %> 
                </label>
                <input type="file" name="imagenPerfil" id="imagenPerfil">
                
                <!-- Correo del cliente -->
                <label for="correo"> Correo 
                    <% if (locals.errors && errors.correo) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.correo.msg %></span>
                    <% } %> 
                </label>
                <input name="correo" class="correo" placeholder=" Ingresa tu correo " >
                
                <!-- Contraseña del cliente -->
                <label for="password"> Contraseña 
                    <% if (locals.errors && errors.password) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.password.msg %></span>
                    <% } %> 
                </label>
                <input name="password" type="password" placeholder="Ingresa tu contraseña" >
               
                <!-- Reingresa contraseña -->
                <label for="repassword"> Confirmar Contraseña 
                    <% if (locals.errors && errors.repassword) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.repassword.msg %></span>
                    <% } %> 
                </label>
                <input name="repassword" type="password" placeholder="Confirma tu contraseña" >
                
                <!-- Botón crear cuenta -->
                <div class="buttons">
                    <button class="create-button" type="submit">Crear cuenta</button>
                </div>
            </form>
        </div>
    </main>
    <%- include("./partials/footer") %>
    <script src="/js/registerValidation.js"></script>
</body>
</html>